<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    base(href="https://antone.dev/los/")
    link(rel="stylesheet" href="los/index.css")
    link(rel="stylesheet" href="https://use.typekit.net/klx0slv.css")
    title ERROR - Length Of Stay
  body
    header
      h1 ERROR
    main
      .card
        p=error
